*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #cc322a;
}

#pokedex{

}

#poke-screen{
    background-color: #b45c64;
}

.poke-form{
    background-color:#a7b9d3;
    padding: 0.4em;
    display: flex;
    justify-content: center;
}

.poke-form form input{
    background-color: #909090;
    border: none;
    padding: 0.5em;
    border-radius: 5%;
}

.poke-form form input:focus{
    border:none;
    color: #909090;
    background-color: #202020;
}

#pokemonInformation{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 10px;
}

#pokemon-sprite{
    height: 20vh;
    margin: 0 auto;
    padding: 10px;
}

#pokemon-sprite img{
    height: 100%;
    border-radius: 100%;
    background-color: orange;
}

#pokemon-info{
    margin: 0 auto;
    padding: 0.5em;
    font-size: 22px;
    background-color: #e6d596;
    //color:#303030;
    border-radius: 5%;
}

#pokemon-info h2{
    text-align: center;
}

.element{
    background-color: #909090;
    padding: 0.1em;
    border-radius: 0.5em;
    margin: 5px;
}
