:root{
    --main-color: #cc322a;
    --second-color: #e6d596;
    --third-color: #a7b9d3;
    --gray-color: #333;
}

*{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

body{
    background: url(./bg.jpg) no-repeat center center/ cover;
    height: 100vh;
}

#pokedex{

}

#poke-screen{
    
}

/*HEADER FORM*/

.searchForm{
    background-color: var(--main-color);
    padding: 0.4em;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 15px;
}

.searchForm form input{
    background-color: var(--second-color);
    border: none;
    padding: 0.5em;
    border-radius: 5px;
}

.searchForm form input:focus{
    border:none;
    
    background-color: var(--third-color);
}

/* POKEMON INFORMATION*/

#pokemonContainer{
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 10px;

}

/* POKEMON SPRITE */

#pokemon-sprite{
    display: flex;
    height: 20vh;
    margin: 0 auto;
    padding: 10px;
}

#pokemon-sprite img{
    height: 100%;
    border-radius: 100%;
    background-color: #10101033;
    box-shadow: 10px 10px 5px #1119;
}

#pokemonId{
    position: absolute;
    padding: 0.2em;
    background-color: var(--second-color);
    border-radius: 100%;
    font-weight: 900;
}

/* POKEMON TYPES INFO */
#pokemonInfo{
    margin: 0 auto;
    padding: 0.5em;
    font-size: 22px;
    background-color: var(--main-color);
    border-radius: 10px;
    box-shadow: 10px 10px 5px #1119;
}

#pokemonInfo h1,h2{
    text-align: center;
}

#pokemonTypes{
    display: flex;
    flex-direction: column;
}

/* GENERIC */

.pokemonDimensions{
    display: flex;
}

.typesList{
    display: flex;
}

.element{
    background-color: var(--gray-color);
    color: var(--second-color);
    font-weight: 200;
    padding: 0.1em;
    margin: 0.1em;
    border-radius: 5px;
}

.specialTitle{
    background-color: var(--second-color);
    font-weight: 500;
    border-radius: 5px;
    margin: 0.1em auto;
}

.statList{
    display: flex;
    flex-direction: column;
}

.statElement{
    text-align: center;
}
